<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <h1>Insert the form to create a new instance of your model.</h1>

  <form action = "/newteam" method = "post">
    team_name: <input type = "text" name = "Team Name">
    coach: <input type = "text" name = "Coach">
    point_guard: <input type = "text" name = "Point Guard">
    shooting_guard: <input type = "text" name = "Shooting Guard">
    small_forward: <input type = "text" name = "Small Forward">
    power_forward: <input type = "text" name = "Power Forward">
    center: <input type = "text" name = "Center">
    <input type = "submit">
  </form>

 <body>
 </body>
</html>
