<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team</title>
 </head>
 <body>

  <form action = "/newteam" method = "POST">
    team_name: <input type = "text" name = "name">
    coach: <input type = "text" name = "coach">
    point_guard: <input type = "text" name = "pg">
    shooting_guard: <input type = "text" name = "sg">
    small_forward: <input type = "text" name = "sf">
    power_forward: <input type = "text" name = "pf">
    center: <input type = "text" name = "c">
    <input type = "submit">
  </form>

 </body>
</html>
