<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team</title>
 </head>
 <body>

  <form action = "/newteam" method = "POST">
    <label>team_name: <input type = "text" name = "name">/></label><br/>
    <label>coach: <input type = "text" name = "coach">/></label><br/>
    <label>point_guard: <input type = "text" name = "pg">/></label><br/>
    <label>shooting_guard: <input type = "text" name = "sg">/></label><br/>
    <label>small_forward: <input type = "text" name = "sf">/></label><br/>
    <label>power_forward: <input type = "text" name = "pf">/></label><br/>
    <label>center: <input type = "text" name = "c">/></label><br/>
    <input type = "submit">
  </form>

 </body>
</html>
